body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
    margin: 0;
    font-family: Arial, sans-serif;
}

.menu-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.name{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 30px;
    font-size: 36px;
    color: #333;
}

.menu-button {
    display: block;
    width: 200px;
    padding: 15px;
    margin: 10px auto;
    font-size: 18px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.menu-button:active {
    transform: translateY(0);
}