<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help - Flight Game</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="menu-container">
        <h1 class="title">HELP</h1>
        <p>Kuinka pelata?</p>
        <ul>
            <li>Saat vaihtoehtona kaksi lentokenttää.</li>
            <li>Valitse lentokenttä, joka on korkeammalla merenpinnasta.</li>
            <li>Oikea vastaus antaa 100 pistettää, väärä vastaus antaa 0 pistettä.</li>
        </ul>
        <a href="index.html" class="menu-button">Back to Menu</a>
    </div>
</body>
</html>
