<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="menu-container">
        <h1 class="title">LEADERBOARDS</h1>
        <p>Here are the top scores in the game!</p>
        <div class="leaderboard">
            <ol id="leaderboard-list">
                <!-- Leaderboard items will be dynamically inserted here -->
            </ol>
        </div>
        <a href="{{ url_for('index') }}" class="menu-button">Back to Menu </a>
    </div>

</body>
</html>
