<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboards</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="menu-container">
        <h1 class="title">LEADERBOARDS</h1>
        <p>Here are the top scores in the game!</p>
        <div class="leaderboard">
            <ol>
                <li>Player1 - 5000</li>
                <li>Player2 - 4500</li>
                <li>Player3 - 4000</li>
                <li>Player4 - 3500</li>
                <li>Player5 - 3000</li>
                <li>Player6 - 2500</li>
                <li>Player7 - 2000</li>
                <li>Player8 - 1500</li>
                <li>Player9 - 1000</li>
                <li>Player10 - 500</li>
            </ol>
        </div>
        <a href="{{ url_for('index') }}" class="menu-button">Back to Menu </a>
    </div>

</body>
</html>
