<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body class="play-page" onload="playGame()">
    <div id="game-content" class="menu-container">
        <button id="btn1" onclick="playRound('correct')" class="menu-button left"></button>
        <div class="vertical-line"></div>
        <button id="btn2" onclick="playRound('wrong')" class="menu-button right"></button>
    </div>
<p id="currentScore"></p>
</body>
</html>
